


@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.favStorePg-bg-container {
    background-color: #894bca;

    background-size: cover;
}

.favStorePg-top-section {}

.favStorePg-top-section-card-heading {
    font-size: 28px;
    font-family: "Bree Serif";
    color: #ffffff;
    margin: 14px;
    padding: 20px;
}

.favStorePg-top-section-card-image {
    height: 150px;
    width: 120px;
}



.favStorePg-bottom-section {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;

}

.favStorePg-bottom-section-main-heading {
    color: #f780c3;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto";
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 600;
}

.favStorePg-bottom-section-products-image {
    height: 80px;
    width: 80px;
    margin: 20px;
}

.favStorePg-bottom-section-products-descrition-container {
    margin: 10px;
    padding: 10px;
}

.favStorePg-bottom-section-products-descrition-heading {
    font-size: 16px;
    color: #323f4b;
    font-family: "Roboto";
    font-weight: bold;

}

.favStorePg-bottom-section-products-descrition-description {
    font-size: 12px;
    color: #7b8974;
    font-family: "Bree Serif";
    font-weight: normal;
}